slides/coursework.tex
slides/week1.tex
slides/week2.tex
slides/week3.tex
slides/week4.tex
slides/week5.tex
# slides/week1.pdf
# slides/week2.pdf
slides/week3.pdf
slides/week4.pdf
slides/week5.pdf
slides/coursework.pdf
slides/build/

# code/requirements.txt
# code/week1/week1_llm_math.ipynb
# code/week2/week2_rl_training.ipynb
code/week3/finance_utils.py
code/week4/diffusion.py
code/week4/week4_diffusion_part1.ipynb
code/week5/week5_diffusion_part2.ipynb
code/week3/week3_finance_nlp.ipynb
code/week5/sde_samplers.py
.vscode/settings.json
