slides/sample/
slides/course/coursework.tex
slides/course/week1.tex
slides/course/week2.tex
slides/course/week3.tex
slides/course/week4.tex
slides/course/week5.tex
# slides/course/week1.pdf
slides/course/week2.pdf
slides/course/week3.pdf
slides/course/week4.pdf
slides/course/week5.pdf
slides/course/coursework.pdf
slides/course/build/

# code/requirements.txt
# code/week1/week1_llm_math.ipynb
code/week2/week2_rl_training.ipynb
code/week3/finance_utils.py
code/week4/diffusion.py
code/week4/week4_diffusion_part1.ipynb
code/week5/week5_diffusion_part2.ipynb
code/week3/week3_finance_nlp.ipynb
code/week5/sde_samplers.py
.vscode/settings.json
