slides/sample/
slides/course/coursework.tex
slides/course/week1.tex
slides/course/week2.tex
slides/course/week3.tex
slides/course/week4.tex
slides/course/week5.tex
slides/course/week1.pdf
slides/course/week2.pdf
slides/course/week3.pdf
slides/course/week4.pdf
slides/course/week5.pdf
slides/course/coursework.pdf
